alembic==1.11.1
alembic==1.12.0
APScheduler==3.10.1
APScheduler==3.10.4
Flask==2.3.2
Flask_Login==0.6.2
Flask_Mail==0.9.1
flask_marshmallow==0.15.0
Flask_Migrate==4.0.4
Flask_Reuploaded==1.3.0
flask_sqlalchemy==3.0.5
marshmallow==3.19.0
marshmallow==3.20.1
marshmallow_sqlalchemy==0.29.0
Pillow==9.4.0
Pillow==10.0.0
Pillow==10.0.0
psutil==5.9.5
SQLAlchemy==2.0.19
SQLAlchemy==2.0.20
validators==0.20.0
validators==0.22.0
webargs==8.3.0
Werkzeug==2.3.4
Flask
Flask-APScheduler
Flask-Migrate
Flask-Login
Flask_Reuploaded
Flask-SQLAlchemy
flask-marshmallow
marshmallow-sqlalchemy
PyMySQL
psutil
Flask-Mail
Pillow
cryptography
validators